<!DOCTYPE html>
<html>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #ff5555;">
      <div class="navbar-nav">
        <a class="navar_brand" style="color: black">BatsBnB</a>
        <a class="nav-item nav-link active" href="/makersbnb">Home</a>
        <a class="nav-item nav-link active" href="/makersbnb/sign_up">Sign Up</a>
        <a class="nav-item nav-link active" href="/makersbnb/log_in">Log In</a>
        <a class="nav-item nav-link active" href="/makersbnb/properties">Properties</a>
      </div>
    </nav>

<center>
<h1> Add your properties here </h1>
<form action='/makersbnb/add' method='post'>
<br> 
  <label for= "property_name">
    Name: 
    <input type='text' name='property_name' placeholder='Enter name..' maxlength='60'>
  </label>
  <br>

  <label for = 'property_description'>
    Description:
    <input type='text' name='property_description' placeholder='Enter description here...' maxlength='200' >
  </label>
<br>
  <label for = 'ppn'>
    Price:
    <input type = 'number' name='ppn' placeholder='Enter your price...'>
  </label>
  <br>
  <label for = 'date'>
  Date:
  <input type='date' name='start_date' min=<%=Date.today%> >
  <input type='date' name='end_date' min=<%=Date.today%> >
  </label>
  <br>
  <input type='submit' value='Add'>

</form>
</center>
<style>
  body {
    background: black;
    color: #ff5555;
    font-family: cursive;
  }
  </style>
</html>