<form action='/add' method='post'>
<label for= "property_name">
Name: 
  <input type='text' name='property_name' placeholder='enter name..' maxlength='60'>
  </label>
  <lable for = 'property_description'>
  Desciption:
  <input type='text' name='property_description' placeholder='enter description here..'
 maxlength='200' >
 </label>
 <label for "ppn">
 price:
 <input type = 'number' name='ppn' placeholder='enter your price..'>
 </label>
  <input type='submit' value='Add'>
</form>