<form action='/add' method='post'>
<label for= "property_name">
Name: 
  <input type='text' name='property_name' placeholder='Enter name..' maxlength='60'>
  </label>
  <label for = 'property_description'>
  Description:
  <input type='text' name='property_description' placeholder='Enter description here...'
 maxlength='200' >
 </label>
 <label for "ppn">
 Price:
 <input type = 'number' name='ppn' placeholder='Enter your price...'>
 </label>
  <input type='date' name='start_date' min=<%=Date.today%> >
  <input type='date' name='end_date' min=<%=Date.today%> >
<input type='submit' value='Add'>
</form>