<!DOCTYPE html>
<html>
  <head>
    <div style= 'border: 4mm ridge rgba(170, 50, 220, .6)'>
      <h2><center><u> Welcome to MakersBnB! </u><center></h2>
    </div>
  </head>

  <body>
   <form action=/makersbnb/sign_up method='get'>
      <input type='submit' value='Sign Up!'>
  </form>

</html>