<!DOCTYPE html>
<html>
  <head>
    <title>Homepage</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="navbar-nav">
        <a class="navar_brand" href="/makersbnb">MakersBnB</a>
        <a class="nav-item nav-link active" href="/makersbnb">Home</a>
        <a class="nav-item nav-link active" href="/makersbnb/sign_up">Sign Up</a>
        <a class="nav-item nav-link active" href="/makersbnb/log_in">Log In</a>
        <a class="nav-item nav-link active" href="/makersbnb/properties">Properties</a>
      </div>
    </nav>
  <div style= 'border: 4mm ridge rgba(170, 50, 220, .6)'>
      <h2><center><u> Welcome to MakersBnB! </u><center></h2>
  </div>

    <form action=/makersbnb/sign_up method='get'>
      <input type='submit' value='Sign Up!'>
    </form>

  </body>
</html>