<!DOCTYPE html>
<html>
  <head>
    <title>List of Properties</title>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #ff5555;">
      <div class="navbar-nav">
        <a class="navar_brand" style="color: black">BatsBnB</a>
        <a class="nav-item nav-link active" href="/makersbnb">Home</a>
        <a class="nav-item nav-link active" href="/makersbnb/users/sign_up">Sign Up</a>
        <a class="nav-item nav-link active" href="/makersbnb/spaces">Properties</a>
        <a class="nav-item nav-link active" href="/makersbnb/log_in">Log In</a>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

      </div>
    </nav>
  </head>

  <body>
    <meta charset="utf-8">
    <h2 style="text-align: center;"><u> Properties </u></h2>
    <ul>
      <% @property_list.each do |property| %>
        <li><b>
          <a href="/makersbnb/spaces/<%=property.id%>"><%=property.name %></b><br>
          £<%= property.ppn %><br>
          <%= property.description %>
        </li><br>
      <% end %>
    </ul>

    <form action=/makersbnb/spaces/add method='get'>
      <input type='submit' value='Add a property'>
    </form>
  </body>
  <style>
  body {
    background: black;
    color: #ff5555;
    font-family: cursive;
  }


  </style>
</html>