<!DOCTYPE html>
<html>
  <head>
    <title>Homepage - Logged In</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #ff5555;">
      <div class="navbar-nav" >
        <a class="navar_brand" style="color: black">BatsBnB</a>
        <a class="nav-item nav-link active" href="/makersbnb">Home</a>
        <a class="nav-item nav-link active" href="/makersbnb/sign_up">Sign Up</a>
        <a class="nav-item nav-link active" href="/makersbnb/log_in">Log In</a>
        <a class="nav-item nav-link active" href="/makersbnb/properties">Properties</a>
      </div>
    </nav>
  <br>
  <div style= 'border: 4mm ridge rgba(170, 50, 220, .6)'>
      <h2><center><u> Welcome to BatsBnB! </u><center></h2>
  </div>


    <% @user %>
      <h3>Welcome, <%= @user.email %></h3>

    <form action=/makersbnb/sign_up method='get'>
      <input type='submit' value='Sign Up!'>
    </form>


  </body>
  <style>
  body {
    background: black;
    color: #ff5555;
    font-family: cursive;
  }


  </style>
</html>
