<!DOCTYPE html>
<html>

<head>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #ff5555;">
    <div class="navbar-nav">
      <a class="navar_brand" href="#" style="padding:0px;"> 
      <img src="/batsbnb.jpeg" style="height:100%;">
      </a>
        <a class="nav-item nav-link active" href="/makersbnb">Home</a>
        <a class="nav-item nav-link active" href="/makersbnb/users/sign_up">Sign Up</a>
        <a class="nav-item nav-link" href="/makersbnb/spaces">Properties</a>
        <form class="form-inline my-2 my-lg-0">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
</head>

    <meta charset="utf-8">
    <h1 style="text-align: center;">Welcome to BatsBnB</h1>
    <h2 style="text-align: center;">Please Sign Up</h2>
    <title>Sign Up</title>
  

  <body>
    <form style="text-align: center;" action='/makersbnb/users/sign_up' method='post'>
      Email: <input style="text-align: center;" type='text' name='email' placeholder='Type in email' >
      <br>Password:<input style="text-align: center;" type='password' name='password' placeholder='Enter a password'>
      <br><input type='submit' name='Submit'>
    </form>
    
    <form style="text-align: center;"action=/makersbnb/log_in method='get'>
      Already have an account? Log in!
      <input type='submit' value='Log In!'>
    </form>
    
  </body>
  <style>
  body {
    background: black;
    color: #ff5555;
    font-family: cursive;
  }
  </style>
</html>