<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <h1 style="text-align: center;">Welcome to MakersBnB</h1>
  <h2 style="text-align: center;">Please Sign Up</h2>
  <title>Sign Up</title>
</head>

<form style="text-align: center;" action='/sign_up' method='post'>
 Username: <input style="text-align: center;" type='text' name='user_name' placeholder='Type in username' >
 Password:<input style="text-align: center;" type='text' name='password' placeholder='Enter a password'>
  <input type='submit' name='Login'>
</form>

</html>